*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

.password-checker {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input::placeholder{
  text-align: center;
}

.strength-indicators {
  display: flex;
  justify-content: space-between;
}

.strength-indicators div {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background-color: gray;
}

.gray {
  background-color: gray;
}

.strength-indicators .red {
  background-color: red;
}

.strength-indicators .yellow {
  background-color: yellow;
}

.strength-indicators .green {
  background-color: green;
}
